.gallery {
    #gallery{
        top: 6vh;
        right: 2vw;
        width: 80vw;
        height: 85vh;
    }
    #result{
        bottom: 15vh;
        left: 2vw;
        width: 45vw;
        min-width: 50vh;
        height: 66vh;
    }
}