.projets {
    #projets {
        position: absolute;
        bottom: 0;
        width: 25vw;
        height: 95.5vh;
        .window-content{
            height: 90vh;
        }
    }
    #PD {
        position: absolute;
        top: 0;
        right: 0;
        width: 70vw;
        height: 80vh;
        .window-content{
            height: 95%;
            overflow-y: scroll;
        }
    }
    #Pictures {
        position: absolute;
        bottom: 3vh;
        left: 62.5vw;
        width: 70vw;
        height: 40vh;
        transform: translateX(-50%);
        overflow: hidden;
        .window-content{
            height: 94%;
            width: 100%;
        }
    }
}