.accueil{
    width: 90vw;
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-image: url('../../assets/accueil/whyw.gif');
    display: flex;
    justify-content: center;
    align-items:end;
    padding: 5px;
    
    .menu{
        .boutton{
            border: solid 2px #FE19FF;
            background-color: #800080;
            margin: 10px;
            width: 20vw;
            height: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        :hover{
                background-color: #980093;
                cursor: pointer;
            }
    }
}