.analysis{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 10px;
    .ana_choice{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 92%;
        margin-top: 3vh;

        .ana_options{
            display: flex;
            flex-direction: column;
            gap: 10px;
            .ana_option{
                border: solid 1px #fe19ff;
                padding: 7px;
                width: fit-content;
                font-size: 1.2rem;
                cursor: pointer;
                &:hover{background-color: #980093; color: rgb(255, 255, 255);}
            }
        }
        .ana_img{
            height: 100%;
            width: 40%;
            border: solid 1px #fe19ff;
            // position: relative;
        }
    }
    
    .ana_answere{
        border: solid 1px #fe19ff;
        width: 92%;
        height: 18vh;
        p{
            margin: 5px;
            font-size: 1.2rem;
        }
    }
}