.evaluation {
  width: 100%;
//   height: 400px;
//   background-color: #0b0d3b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

    .recharts-wrapper{
        margin-top: 3vh;
        min-height: 60%;
    }
    .eva_answere{
        height: 17vh;
        min-height: 17vh;
        border: solid 1px #FE19FF;
        width: 92%;
        // overflow: scroll;
        p{
            margin: 5px;
            font-size: 1.2rem;
        }
    }
}