.link {
    width: 100%;
    height: 17vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .link_item {
        // border: solid 1px #fe19ff;
        background-color: #17195782;
        width: 25%;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #fe19ff;

        p{
            margin: 0;
        }
        cursor: pointer;
        &:hover {
            background-color: #980093;
            color: rgb(255, 255, 255);
        }
        .ico{
            width: 70%;
        }
    }
    :visited{
        color: #fe19ff;
    }
}