#root {
  margin: 0 auto;
  padding-top: 0.1vh;
  width: 100vw;
  height: 99.94vh;
  position: relative;
}

// window component styles
#leave {
  position: relative;
  z-index: 50;
  color: #fff;
  margin: 0;
  line-height: 1.7rem;
  line-height: 3.6vh;
  font-size: 2rem;
  cursor: pointer;
  background-color: #00000000;
  border: 0;
  text-decoration: none;
  padding: 0;
  text-transform: uppercase;

}

.window {
  background-color: #171957;
  border: 2px solid #FE19FF;
  text-align: left;
  max-width: 95vw;
  position: absolute;
  .title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.15rem;
    background-color: #980093;
    border-bottom: 2px solid #FE19FF;
    h1 {
      height: 1rem;
      line-height: 1rem;
      margin: 0;
      color: #fff;
      font-size: 1.4rem;
    }
    img {
      height: 1.1rem;
      width: 1.1rem;
      cursor: pointer;
    }
  }
  .window-content {
    color: #fff;
    background-color: #171957;
    display: flex;
    overflow: hidden;
  }
}

#backup, #accueil, #sortie {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#sortie {
  .window-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
  }
  .ptdr-image {
    height: 35vh;
    position: relative;
  }
  .ptdr-response {
    border: solid 2px #FE19FF;
    padding: 0.2rem;
    p{
      margin: 0;
    }
  }
  .ptdr-response:hover {
    background-color: #FE19FF;
    color: #171957;
    cursor: pointer;
  }
}

.fondtrav{
  background-color: #000000b4;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 49;
  left: 50%;
  top: 50%;
  pointer-events: none; 

}
#travaux{
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 50;
  left: 50%;
  top: 50%;
  .trav{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    img{
      width: 70%;
      margin: 20px;
    }
    p{
      margin: 5px;
      margin-bottom: 0;
      text-align: center;
    }
    .after{
      color: #FE19FF;
      font-size: 1.5rem;
      margin-bottom: 15px;
      text-decoration: none;
    } 
    .after:hover{
      color: #980093;
    }
  }
}

