#root {
  margin: 0 auto;
  padding-top: 0.1vh;
  // text-align: center;
  width: 100vw;
  height: 99.94vh;
  position: relative;
}

.read-the-docs {
  color: #888;
}

// window component styles
#leave {
  position: relative;
  z-index: 20;
  color: #fff;
  margin: 0;
  line-height: 1.7rem;
  line-height: 3.6vh;
  font-size: 2rem;
  cursor: pointer;
}
@keyframes open{
  from { opacity: 0; height: 0;}
  to   { opacity: 1; height: auto;}
}
.window {
  background-color: #171957;
  border: 2px solid #FE19FF;
  text-align: left;
  max-width: 95vw;
  position: absolute;

  
  .title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.15rem;
    background-color: #980093;
    border-bottom: 2px solid #FE19FF;
    // height: 25px;

    h1 {
      height: 1rem;
      line-height: 1rem;
      margin: 0;
      color: #fff;
      font-size: 1.4rem;
    }
    img {
      height: 1.1rem;
      width: 1.1rem;
      cursor: pointer;
    }
  }

  .window-content {
    color: #fff;
    background-color: #171957;
    display: flex;
    overflow: hidden;
  }
}


#test {
  z-index: 10;
  top: 2rem;
}

#backup, #accueil, #sortie {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // .window-content {
  //   animation: open 0.5s ease ;

  // }
}

#sortie {
  // display: none;
  // z-index: 5;
  .window-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
  }
  .ptdr-image {
    height: 35vh;
    position: relative;
  }
  .ptdr-response {
    border: solid 2px #FE19FF;
    padding: 0.2rem;
    p{
      margin: 0;
    }
  }
  .ptdr-response:hover {
    background-color: #FE19FF;
    color: #171957;
    cursor: pointer;
  }
  

}