@keyframes acc{
  0% {opacity: 0; height: 0;}
  100% {opacity: 1; height: 90vh;}
}

.accueil{
    animation: acc 0.5s ease-in-out 0.2s both;
    width: 90vw;
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-image: url('../../../assets/accueil/whyw.gif');
    display: flex;
    justify-content: center;
    align-items:end;
    padding: 5px;
    
    .menu{
        .boutton{
            border: solid 2px #FE19FF;
            background-color: #800080;
            margin: 10px;
            width: 20vw;
            height: 11vh;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            color: white;
            h2{
                font-size: 1.5rem;
            }

            
        }
        :hover{
                background-color: #980093;
                cursor: pointer;
            }
    }
}