.backup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35vw;
    // padding: 5px;
    padding-bottom: 15px;
    gap: 10px;

    h2{
        margin-bottom: 5px;
        // font-size: 2rem;
    }

    .file{
        display: flex;
        align-items: center;
        border: solid 2px #FE19FF;
        // margin: 5px;
        width: 95%;
        height: 10vh;
        // padding: 5px;

        .icone{
            width: 40px;
            height: 40px;
            // background-color: #838383;
            margin: 10px;
        }

        h3{
            margin: 0;
            font-size: 1.5rem;
        }
    }
    .file:hover{
        background-color: #800080;
        cursor: pointer;
    }

}