.all{
    display: flex;
    flex-wrap: wrap;
    .fichier{
        width: 150px;
        height: 150px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 5px;
        .img{
            width: 70%;
            img{
                max-width: 100%;
            }
        }
    }:hover{
        background-color: #80008041 ;
    }
}