.projet-details{
    display: flex;
    flex-direction: column;
    margin: 2vw;
    height: fit-content;
    // position: relative;
    .top{
        display: flex;
        flex-direction: row;
        gap: 20px;
        .img{
            width: 200px;
            height: 200px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            border: solid #FE19FF;
            img{
                height: 100%;
            }
        }
        .info{
            h2{
                margin-top: 5px;
                margin-bottom: 5px;
                font-size: 2rem;
            }
            .tags{
                display: flex;
                flex-wrap: wrap;
                width: 30vw;
                span{
                    border: solid 1px #FE19FF;
                    margin-right: 7px;
                    padding: 2px;
                    font-size: 1.2rem;
                }
            }
            p{
                margin-top: 0.5em;
                margin-bottom: 0.5em;
                width: 30vw;
            }
            a{
                color: #FE19FF;
                
            }:hover{
                    color: white;
                }
        }
        
    }
    .bottom{
        display: flex;
        height: fit-content;
        .left{
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            align-content: start;
            justify-content: space-between;
            h3{
                width: 100%;
                // text-align: center;
                margin-bottom: 0;
            }
            .section{
                width: 48%;
                border: #ff19ff solid 1px;
                // padding: 5px;
                p{
                    margin-top: 0;
                    margin-left: 5px;
                    margin-bottom: 5px;
                }
                h4{
                    margin: 0px;
                    margin-top: 5px;
                    margin-left: 2px;
                    font-size: 1.1rem;
                }
            }
            .bilan, .choix{
                width: 100%;
            }
        }
        .team{
            width: 30%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            right: 1vw;
            top: 10vh;

            h4{
                width: 100%;
                text-align: center;
                margin-bottom: 10px;
                margin-top: 0 ;
                font-size: 1.2rem;
                
            }
            .member{
                a{
                    color: #FE19FF;
                }:hover{
                    color: white;
                }
                border: solid 1px #FE19FF;
                width: 85%;
                height: fit-content;
                text-align: center;
                padding: 5px;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-bottom: 2vh;

            }
        }
    }
}
.MMIVIZ .bottom .left{
    .objectif{
        width: 70%;
    }
}
.catarcisse .bottom .left{
    .choix{
        width: 47%;
    }
}
.interview .bottom .left{
    .choix{
        width: 47%;
    }
}