.projets-list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    
    .projet{
        border: solid #FE19FF;
        margin: 10px;
        position: relative;
        cursor: pointer;
        min-height: 40vh;
        // max-height: 45vh;

        .imgdiv{
            width: 100%;
            height: 23vh;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            text-align: center;
            img{
                min-height: 100%;
                max-width: 120%;
            }
        }
        h3{
            margin: 5px;
            font-size: 1.4rem;
        }
        p{
            margin-top: 0px;
            margin-left: 5px;
            font-size: 1rem;
            margin-bottom: 70px;
        }
        .tags{
            // display: none;
            position: absolute;
            bottom: 8px;
            display: flex;
            flex-wrap: wrap;
            span{
                border: solid 1px #FE19FF;
                margin-left: 5px;
                margin-right: 2px;
                padding: 2px;
                font-size: 0.8rem;
            }
        }
    }:hover{
        background-color: #980093;
    }

}