.analysis{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 10px;
    .ana_choice{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 92%;
        margin-top: 3vh;
        min-height: 60%;

        .ana_options{
            display: flex;
            flex-direction: column;
            gap: 10px;
            position: relative;
            z-index: 2;
            .ana_option{
                border: solid 1px #fe19ff;
                background-color: #17195782;
                color: white;
                padding: 7px;
                width: fit-content;
                font-size: 1.2rem;
                  text-transform: uppercase;

                cursor: pointer;
                &:hover{background-color: #980093; color: rgb(255, 255, 255);}
            }
            .active{
                background-color: #980093; color: rgb(255, 255, 255);
            }
        }
        .ana_img{
            height: 100%;
            width: 40%;
            // border: solid 1px #fe19ff;
            display: flex;
            // align-items: center;
            justify-content: end;
            position: relative;
            z-index: 1;
            // padding-right: 5%;
            // overflow: hidden;
            // img{
            //     max-width: 100%;
            //     max-height: 100%;
            //     object-fit: cover;
            // }
        }
    }
    
    .ana_answere{
        border: solid 1px #fe19ff;
        width: 92%;
        height: 17vh;
        min-height: 17vh;

        p{
            margin: 5px;
            font-size: 1.2rem;
        }
    }
}