.IA{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .conv_ia{
        height: 90%;
        display: flex;
        .img_ia{
            width: 30%;
            // background-color: #FE19FF;
            display: flex;
            flex-direction: column;
            justify-content: end;
            img{
                width: 100%;
            }
        }
        .conv{
            width: 70%;
            height: 98%;
            // background-color: #800083;
            overflow-y: scroll;
            padding-left: 2px;
            .mess_ia{
                color: #FE19FF;
            }
            .mess_ia::before{
                content: "@Wald-ia — ";
                color: yellow;

            }
            .mess_hu{
                color: #ffffff;
                margin-top: 4px;
                margin-bottom: 4px;
            }
            .mess_hu::before{
                content: "@human-u — ";
                color: yellow;
            }
        }
    }
    #question{
        height: 10%;
        margin: 0;
        padding: 0;
        border: none;
        input{
            background-color: #171957;
            border-top: solid #FE19FF 1px;
            color: white;
            font-size: 1.5rem;
            width: 100%;
        }
        
    }
}